@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind utilities;

.wrapper {
  text-align: center;
}

.brand-logo {
  text-indent: -100000px;
  background-image: url('https://flexiana.com/app/themes/flexianacom/dist/assets/images/logo_flexiana_gold.svg');
  background-repeat: no-repeat;
  background-size: 100%;
}
